nav {
	li{
		display: inline;
		list-style: none;
		padding: 0 2em;

		@media screen and (max-width: 1000px){
			padding: 0 1em;
		}

		@media screen and (max-width: 840px){
			padding: 0 .25em;
		}

		@media screen and (max-width: 550px){
			display: block;
			padding: .25em 0;
		}
	}
}

.error {
	color: red;
}