<IfModule mod_rewrite.c>

	RewriteEngine On 
	RewriteBase /Control_Panel/ 
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /Control_Panel/index.php/$1 [L] 

</IfModule>